[submodule "scad-utils"]
	path = scad-utils
	url = https://github.com/openscad/scad-utils.git
[submodule "list-comprehension-demos"]
	path = list-comprehension-demos
	url = https://github.com/openscad/list-comprehension-demos.git
[submodule "z-butt-openscad"]
	path = z-butt-openscad
	url = https://github.com/yatara-cc/z-butt-openscad.git
